body {
  background-color: #eee;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}



.intro {
  display: flex;
  justify-content: start;
}

.container {
  display: flex;

  justify-content: space-between;
  flex-direction: row;
}

.intro2 {
  display: flex;
  align-items: center;
}

a {
  display: block;
  padding: 25px;
  font-weight: bold;
  text-decoration: solid;
  color: black;
}

.dog {
  background-image: url("../img/happiest-dog.webp");
  height: 600px;
  border-radius: 10px;
}
