.wrapper{
    max-width: 1200px;
    margin: auto;
    background-color: white;
   
      
}  
    
.intro{
    display: flex;
    justify-content: start; 
}

.container{
    display: flex;
  
    justify-content: space-between;
    flex-direction: column;
  

}

a{
    display: block;
}

.intro2{

    }